.btn-sm{
    float: right;
    margin: 14px;
    &.btn{
        fa{
            margin-right: 6px;
        }
    }
}

table{
    border-radius: $sm-radius;
    th{
        font-size: 0.8em;
        text-transform: capitalize;
        border-top: none !important;
        color: $primary;
    }  
    td{
        padding: 0px 0px 0px 10px !important;
        vertical-align: inherit !important;
        font-size: 14px;
        font-weight: bold;
        &.actions-control{
            text-align: right;
        }
    }
    tr:last-child{
        td{
            &:first-child{
                border-bottom-left-radius: $sm-radius
            }
            &:last-child{
                border-bottom-right-radius: $sm-radius
            }
        }
    }

    .dropdown-toggle{
        margin: 0 !important;
        &::after{
            all: unset;
        }
    }
    .dropdown-menu {
        &.show{
            border: none;
            box-shadow: 0px 2px 6px rgba($color: $dark, $alpha: 0.4)
        }
        fa{
            margin-right: 6px;
        }
    }
}

.empty-row{
    width: 50%;
    margin: auto;
    text-align: center;
    background: whitesmoke;
    border-radius: 10rem;
    font-weight: bold;
}