fieldset{
    legend{
        padding-bottom: 1rem;
        border-bottom: 1px solid $light;
    }
    margin-top: 3rem; 
}

label{
    &.required::after{
        content:"*";
        color: $primary;
        margin-left: 8px;
    }
}

.control{
    padding-top: 14px;
}

input, select{
    &.form-control{
        border-radius: 10rem;
        &.unselectable{
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
        }
    }
}


textarea{
    &.form-control{
        border-radius: $sm-radius;
    }
}

.input-group{
    border: 10rem;
}

.input-group-prepend{
    .input-group-text{
        border-radius: 0 10rem 10rem 0 !important;
    }
}

.total-invoice{
    .amount{
        font-weight: bold;
    }
    border-top: 1px solid $light;
}
