@media(max-width: 991px){
    .navbar{
        .container::before{
            z-index: -1;
        }
    }
    .navbar-collapse{
        .navbar-nav{
            top: 72px;
            right: 0;
            width: 100%;
            z-index: 4;
            border-top: 1px solid lightpink;
            .nav-item{
                padding: 14px;
                .nav-link::after{
                    position: absolute;
                    top: 46%;
                    right: 5%;
                }
            }
        }
    }

}
